$max-container-width: 1280px;
$font-family: 'Lato', sans-serif;
$font-size: 16px;
$text-color-primary: #1f2432;
$text-color-secondary: #797B86;
$text-color-tertiary: #33374E;
$line-color: #C4C4C4;
$decor-color-primary: #0069b4;
$light-color: #ffffff
